.documents {
    padding: 186px 0 166px;
    color: #202020;
    background: white;
    
    h3 {
        font-size: 54px;
        letter-spacing: 1.23px;
        line-height: 65px;
        text-align: center;
        margin-bottom: 86px;
    }
    
    h4 {
        font-size: 15px;
        color: #202020;
        letter-spacing: 0.38px;
        line-height: 24px;
        margin-bottom: 40px;
        text-align: center;
    }    
    
    &__list {
        text-align: center;
        font-size: 0;
        margin-bottom: 85px;
        
        a {
            display: inline-block;
            vertical-align: middle;
            width: 268px;
            height: 78px;
            line-height: 78px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 0.88px;
            position: relative;
            text-transform: uppercase;
            
            span {
                display: none;
            }
            
            svg {
                fill: none;
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                margin: auto;
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
                opacity: 0;
                -webkit-transition: .2s linear;
                transition: .2s linear;
                
                polyline, path {
                    -webkit-transition: .2s linear;
                    transition: .2s linear;
                }
            }
            
            @media screen and (min-width: 1024px) {
                &:hover {
                    svg {
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        opacity: 1;
                        
                        &:hover {
                            polyline, path:last-child {
                                stroke: #202020;    
                            }
                            
                            path {
                                fill: #202020;
                            }
                        }
                    }
                }        
            }
            
            &:after {
                content: "";
                background: #E0EDF4;
                display: block;
                width: 2px;
                height: 100%;
                position: absolute;
                top: 0;
                left: -1px;
            }
            
            &:first-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    
}

.socials {
    font-size: 0;
    text-align: center;
    color: #202020;
    
    h4 {
        font-size: 15px;
        letter-spacing: 0.38px;
        line-height: 24px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        position: relative;
        
        sup {
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 0.62px;
            position: absolute;
            left: 0;
            top: -7px;
        }
        
        svg,
        img {
            pointer-events: none;
        }
    }
    
    @media screen and (min-width: 1024px) {
        a {
            -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear;
        }
        
        &:hover {
            a {
                -webkit-transition: opacity .2s linear !important;
                transition: opacity .2s linear !important;
                opacity: 0.4;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.animated {
    .socials {
        a {
            -webkit-transition: opacity .2s linear !important;
            transition: opacity .2s linear !important;
            -webkit-transition-delay: none !important;
            transition-delay: none !important;
        }
    }
}

@media screen and (max-width: 1400px) { 
    .documents {
        padding: 156px 0 152px;
        
        .documents__list {
            a:first-child {
                width: 178px;
                text-align: left;
                
                svg {
                    right: 94px;
                }
            }
            
            a:last-child {
                width: 178px;
                text-align: right;
                
                svg {
                    left: 54px;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .documents {
        padding: 90px 0 92px;
        
        .documents__list {
            margin-bottom: 120px;
            
            a {
                width: 176px;
                height: 42px;
                line-height: 42px;
                
                span {
                    display: block;
                    font-weight: bold;
                    font-size: 12px;
                    color: #0077C0;
                    letter-spacing: 0.75px;
                    position: absolute;
                    top: 47px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
                
                &:first-child {
                    width: 128px;
                }
                
                &:last-child {
                    width: 148px;
                    
                    span {
                        width: 118%;
                    }
                }
            }
        }
    }
    
    .socials {
        margin-bottom: -20px;
    }
    
    .socials a {
        margin: 0 20px 20px;
    }
}

@media screen and (max-width: 767px) {
    
    .documents {
        padding: 80px 19px 64px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 31px;
        }
    }
    
    .documents .documents__list a {
        display: block;
        width: 200px;
        text-align: center !important;
        margin: 0 auto !important;
        border: none !important;
        line-height: 52px;
        height: 52px;
        
        &:after {
            top: 0;
            left: -1px;
            bottom: 52px;
            left: 0;
            right: 0;
            margin: auto;
            height: 2px;
            width: 20px;
        }
        
        span {
            display: none !important;
        }
    }
    
    .documents .documents__list {
        margin-bottom: 40px;
    }
    
    .socials h4 {
        margin-bottom: 25px;
    }
    
    .socials a {
        margin: 0 10px 16px;
    }
    
    .socials {
        max-width: 280px;
        margin: 0 auto;
    }
}