.quotes {
    padding: 159px 0 186px;
    background: #F8FCFF;
    
    .quotes__slider {
        position: relative;
        height: 100%;
    }
    
    .wrapper {
        overflow: hidden;
    }
    
    .slide-wrap {
        display: inline-block;
        position: relative;
        height: 100%;
    }
    
    .slick-prev {
        position: absolute;
        background: url(../img/slide-arrow.svg) center no-repeat;
        font-size: 0;
        transform: rotate(-90deg);
        cursor: pointer;
        z-index: 10;
        left: 0;
        
        &:before,
        &:after {
            display: none;
        }
    }
    
    .slick-next {
        position: absolute;
        background: url(../img/slide-arrow.svg) center no-repeat;
        font-size: 0;
        transform: rotate(90deg);
        cursor: pointer;
        z-index: 10;
        right: 0;
        
        &:before,
        &:after {
            display: none;
        }
    }
    
    .quote {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        
        h3 {
            font-size: 18px;
            color: #202020;
            letter-spacing: 0.45px;
            line-height: 30px;
            text-align: center;
        }
        
        h4 {
            font-size: 15px;
            color: #83949F;
            letter-spacing: 0.38px;
            line-height: 24px;
            text-align: center;
        }
        
        p {
            font-size: 18px;
            color: #202020;
            letter-spacing: 0.45px;
            line-height: 30px;
            text-align: center;
            max-width: 600px;
            margin: 30px auto 0;
        }
        
        .img-wrap {
            width: 60px;
            height: 60px;
            margin: 0 auto 13px;
            border-radius: 100%;
            background-size: cover !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .quotes {
        padding: 80px 10px 120px;
        
        .wrapper {
            width: 100%;
        }
        
        .quote {
            max-width: 90%;
        }
    }
}