.team {
    padding: 186px 0 96px;
    color: #202020;
    background: white;
    
    h3 {
        font-size: 54px;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 95px;
    }
    
    &__wrap {
        display: block;
        font-size: 0;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        width: 293px;
        margin-right: 96px;
        margin-bottom: 90px;
        background: #FFFFFF;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
        box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        
        @media screen and (min-width: 1024px) {                
            -webkit-transition: -webkit-box-shadow .2s linear;                
            transition: -webkit-box-shadow .2s linear;                
            transition: box-shadow .2s linear;                
            transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
            
            &:hover {
                -webkit-box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
                box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
            }
        }
        
        .img-wrap {
            height: 173px;
            width: 100%;
            display: block;
            margin-bottom: 25px;
            background-size: cover !important;
        }
        
        .text-wrap {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 30px 32px;
            
            h4 {
                font-size: 18px;
                letter-spacing: 0.45px;
                line-height: 30px;
            }
            
            p {
                font-weight: bold;
                font-size: 15px;
                color: #83949F;
                letter-spacing: 0.38px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            
            .quote {
                font-weight: bold;
                font-size: 15px;
                color: #202020;
                letter-spacing: 0.38px;
                line-height: 24px;
                display: block;
                margin-bottom: 29px;
                margin-top: -2px;
            }
            
            .links {
                a+a {
                    margin-left: 10px;
                }
                
                a {
                    display: inline-block;
                    position: relative;
                    height: 19px;
                    width: 22px;
                    
                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        content: "";
                    }
                    
                    &:after {
                        opacity: 0;
                    }
                    
                    &.facebook {
                        &:before {
                            background: url(../img/ico-fb-blue.svg) center no-repeat;
                            background-size: contain;
                            pointer-events: none;
                        }
                        
                        &:after {
                            background: url(../img/ico-fb-black.svg) center no-repeat;
                            background-size: contain;
                            pointer-events: none;
                        }
                    }
                    
                    &.linkedin {
                        &:before {
                            background: url(../img/ico-linkedin-blue.svg) center no-repeat;
                            background-size: contain;
                            pointer-events: none;
                        }
                        
                        &:after {
                            background: url(../img/ico-linkedin-black.svg) center no-repeat;
                            background-size: contain;
                            pointer-events: none;
                        }
                    }
                    
                    @media screen and (min-width: 1024px) {
                        &:before,
                        &:after {
                            -webkit-transition: opacity .2s linear;
                            transition: opacity .2s linear;
                        }
                        
                        &:hover {
                            &:before {
                                opacity: 0;
                            }

                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
                
                a img {
                    pointer-events: none;
                }
            }
        }
        
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

.escrow {
    padding: 186px 0 159px;
    background: #F8FCFF;
    
    h3 {
        font-size: 54px;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 65px;
    }
    
    .rules {
        font-weight: bold;
        position: absolute;
        padding-left: 26px;
        font-size: 14px;
        color: #0077C0;
        letter-spacing: 0.88px;
        top: 33px;
        right: 0;
        
        &:before {
            position: absolute;
            display: block;
            content: "";
            background: url(../img/slide-arrow.svg) center no-repeat;
            width: 10px;
            height: 15px;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            top: 0;
            left: 0;
        }
    }
    
    .wrapper {
        position: relative;
    }
    
    .team__item {
        width: 527px;
        margin-right: 17px;
        margin-bottom: 17px;
        padding: 47px 60px 47px 230px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        
        .img-wrap {
            position: absolute;
            width: 96px;
            height: 96px;
            top: 0;
            bottom: 0;
            left: 60px;
            margin: auto;
            border-radius: 100%;
        }
        
        .text-wrap {
            padding: 0;
            
            p {
                color: #202020;
                margin: 0;
            }
        }
        
        &:nth-child(2n+2) {
            margin-right: 0;
        }
        
        &:nth-child(3n+3) {
            margin-right: inherit;
        }
    }
}

.team .btns-wrap {
    display: none;
}

@media screen and (max-width: 1400px) {  
    .team {
        padding: 156px 0 116px;
        
        .team__wrap+h3 {
            margin-top: 116px;
        }
    }
    
    .team__item {
        margin-right: 17px;
        margin-bottom: 40px;
    }
    
    .escrow {
        padding: 165px 0 185px;
    }
    
    .escrow .team__item {
        width: 449px;
        padding-left: 188px;
        padding-right: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .team {
        padding: 90px 0 50px;
        
        h3 {
            margin-bottom: 66px;
            text-align: center;
        }
        
        &__wrap {
            text-align: center;
        }
        
        &__item {
            text-align: left;
            
            &:nth-child(2n+2) {
                margin-right: 0 !important;
            }
            
            &:nth-child(2n+1) {
                margin-right: 9px !important;
            }
        }
    }
    
    .team .team__wrap + h3 {
        margin-top: 53px;
    }
    
    .escrow {
        padding: 100px 0;
        
        .team__item {
            padding: 0 0 0 123px;
            min-height: 96px;
            background: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 309px;
            
            &:nth-child(2n+1) {
                margin-right: 14px !important;
            }
            
            .img-wrap {
                left: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .team__wrap__inner {
        text-align: left;
        width: 600px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) { 
    
    .team {
        padding: 80px 19px;
        
        .wrapper {
            width: 100%;
        }
        
        .ps__scrollbar-x-rail,
        .ps__scrollbar-y-rail {
            display: none !important;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 44px;
            text-align: left;
        }
        
        .team__wrap {
            width: 100vw;
            margin-left: -19px;
        }
        
        .team__wrap__inner {
            text-align: left;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        
        .team__item {
            width: 232px;
            margin: 0 0 0 19px !important;
            
            .img-wrap {
                height: 150px;
            }
        }
    }
    
    .escrow {
        padding: 80px 19px 100px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 54px;
        }
        
        .team__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 0 !important;
        }
        
        .team__item+.team__item {
            margin: 39px 0 0 !important;
        }
    }
    
    .escrow .rules {
        top: 15px;
    }
    
    .team .team__wrap + h3 {
        margin-top: 85px;
    }
    
    .team__wrap {
        position: relative;
        padding-bottom: 40px;
    }
    
    .team .btns-wrap {
        position: absolute;
        left: 19px;
        bottom: 0px;
        font-size: 0;
        display: block;
        
        &>div {
            background: url(../img/slide-arrow.svg) center no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
        }
        
        .scroll-back {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .scroll-forward {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
}