.achievements {
    padding: 140px 0 53px;
    text-align: center;
    color: #202020;
    background: white;
    
    .wrapper {
        max-width: 1019px;
    }
    
    h3 {
        font-size: 54px;    
        letter-spacing: 1.23px;
        line-height: 65px;
        max-width: 1019px;
        margin: 0 auto 111px;
        text-align: left;
    }
    
    h4 {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 30px;
        margin-bottom: 64px;
        text-align: left;
        
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 18px;
        }
    }
    
    &__columns {
        font-size: 0;
        max-width: 1019px;
        margin: 0 auto;
        
        .column {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            text-align: left;
            
            h4 {
                margin-bottom: 48px;
            }
        }
    }
    
    &__list {
        font-size: 0;
        text-align: left;
        margin-bottom: 120px;
    }

    .achieve+.achieve {
        margin-left: 15px;
    }
    
    .achieve {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        position: relative;
        
        .links {
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;
            padding-top: 17px;
            -webkit-transition: .2s linear;
            transition: .2s linear;
            
            a {
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #0077C0;
                letter-spacing: 0.88px;
                cursor: pointer;
                display: block;
                
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../img/achieve-github.svg) center no-repeat;
                    width: 18px;
                    height: 17px;
                    content: "";
                    margin-right: 8px;
                    -webkit-transform: translateY(-1px);
                    transform: translateY(-1px);
                }
            }
            
            a+a {
                margin-top: 8px;
            }
        }
        
        svg,
        img {
            display: inline-block;
            margin-bottom: 12px;
            margin-left: -13px;
        }
        
        svg {
            height: 60px;
            max-width: 86px;
            margin-bottom: 10px;
        }
        
        h5 {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.4px;
            line-height: 30px;
            margin-bottom: -4px;
        }
        
        p {
            font-weight: bold;
            font-size: 12px;
            color: #83949F;
            letter-spacing: 0.3px;
            line-height: 18px;
            margin: 4px 0;
        }
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    } 100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    } 100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}

@media screen and (max-width: 1400px) and (min-width: 1025px) { 
    .achievements {
        padding-top: 156px;
        
        h3 {
            margin-bottom: 91px;
        }
        
        .wrapper {
            width: 1008px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .achievements {
        padding: 92px 0 42px;
        
        h3 {
            margin-bottom: 73px;
            text-align: center;
        }
        
        h4 {
            text-align: center;
        }
        
        .wrapper>h4 {
            width: 43%;
            margin: 0 auto 84px;
        }
        
        .achievements__list {
            text-align: center;
            
            .achieve {
                width: 30%;
                
                svg, img {
                    margin: 0 auto 10px;
                }
            }
        }
        
        .wrapper>.achievements__list {
            margin-bottom: 0;
            
            .achieve {
                width: 30%;
                margin: -30px 10px 130px !important;
            }
        }
        
        &__columns {
            width: 100%;
            margin: 0 auto;
            
            .column {
                display: block;
                width: 100%;
            }
        }
    }
    
    .achievements__list {
        margin-bottom: 130px;
    }
    
    .achievements .achieve .links {
        opacity: 1;
        pointer-events: all;
    }
}

@media screen and (max-width: 767px) { 
    .achievements {
        padding: 80px 19px 45px;
        
        .wrapper {
            width: 100%;
        }
        
        h4 img {
            display: none;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 49px;
            text-align: left;
        }
        
        &__list {
            margin-bottom: 54px;
        }
        
        .achieve_waiting:before {
            left: 7px;
            top: 12px;
            right: auto;
        }
        
        .achieve {
            display: block;
            text-align: left;
            margin: 0 0 33px !important;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 50px;
            
            svg,
            img {
                width: 44px;
                height: 31px;
                position: absolute;
                left: -4px;
                top: 0;
            }
            
            .links {
                position: static;
                display: block;
                text-align: left;
                padding-top: 11px;
                
                a {
                    display: inline-block;
                    vertical-align: baseline;
                    text-transform: uppercase;
                    margin-right: 10px;
                }
            }
        }
    }
    
    .achievements__columns .column {
        text-align: left;
        
        h4 {
            margin-bottom: 24px;
            text-align: left;
        }
    }
    
    .achievements .wrapper > h4 {
        width: 100%;
        text-align: left;
        margin-bottom: 24px;
    }
    
    .achievements .wrapper .achievements__list .achieve {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 0 24px !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 66px 0 62px;
        
        .links {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 8px;
            left: auto;
            width: 62px;
            text-align: right;
            padding: 0;
            
            a {
                display: block;
                text-align: right;
            }
        }
    }
    
    .achievements .achieve .links a:before {
        display: none;
    }
}