.partners {
    padding-top: 186px;
    background: white;
    padding-bottom: 1px;
    margin-bottom: -11px;
    
    .ps__scrollbar-y-rail,
    .ps__scrollbar-x-rail {
        opacity: 0 !important;
        display: none !important;
    }
    
    h3 {
        font-size: 54px;
        color: #202020;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 85px;
    }
    
    .wrapper {
        position: relative;
    }
    
    h4 {
        font-size: 18px;
        color: #202020;
        letter-spacing: 0.45px;
        line-height: 30px;
        margin-top: 64px;
    }
    
    .logos-wrap {
        @media screen and (max-width: 1024px) {
            &:first-of-type {
                margin-top: 34px;
                
                span {
                    margin-top: 0;
                }
            }
        }
        
        span {
            display: inline-block;
            vertical-align: middle;
            min-width: 100px;
            margin-right: 20px;
            margin-top: 34px;
            
            i {
                font-style: normal;
                font-size: 10px;
                color: #A0A0A0;
                letter-spacing: 0.27px;
                line-height: 13px;
                max-width: 100px;
                display: inline-block;
                vertical-align: top;
                margin-left: 10px;
                margin-top: 2px;
            }
        }
    }
//    
//    .scroller-wrap {
//        position: relative;
//        
//        h4 {
//            font-size: 18px;
//            color: #202020;
//            letter-spacing: 0.45px;
//            line-height: 30px;
//            margin-bottom: 29px;
//        }
//    }
//    
//    .btns-wrap {
//        position: absolute;
//        right: -10px;
//        top: 0px;
//        font-size: 0;
//        display: none;
//        
//        &>div {
//            background: url(../img/slide-arrow.svg) center no-repeat;
//            width: 30px;
//            height: 30px;
//            display: inline-block;
//            vertical-align: top;
//            cursor: pointer;
//        }
//        
//        .scroll-back {
//            -webkit-transform: rotate(-90deg);
//            transform: rotate(-90deg);
//        }
//        
//        .scroll-forward {
//            -webkit-transform: rotate(90deg);
//            transform: rotate(90deg);
//            margin-left: 10px;
//        }
//    }
//    
//    .scroller {
//        position: relative;
//        width: 100%;
//        margin: 0 auto 50px;
//        
//        &__inner {
//            font-size: 0;
//        }
//    }
//    
//    .scroller__item {
//        display: -webkit-inline-box;
//        display: -ms-inline-flexbox;
//        display: inline-flex;
//        vertical-align: top;
//        width: 200px;
//        height: 96px;
//        background: white;
//        -webkit-box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
//        box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
//        border-radius: 12px;
//        -webkit-box-pack: center;
//        -ms-flex-pack: center;
//        justify-content: center;
//        -webkit-box-align: center;
//        -ms-flex-align: center;
//        align-items: center;
//        cursor: pointer;
//        margin-bottom: 19px;
//        
//        img {
//            pointer-events: none;
//            max-width: 80%;
//            max-height: 48px;
//            width: auto;
//            height: auto;
//        }
//        
//        @media screen and (min-width: 1024px) {                
//            -webkit-transition: -webkit-box-shadow .2s linear;                
//            transition: -webkit-box-shadow .2s linear;                
//            transition: box-shadow .2s linear;                
//            transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
//            
//            &:hover {
//                -webkit-box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
//                box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
//            }
//        }
//        
//        &:nth-child(5n+6) {
//            margin-left: 0 !important;
//        }
//    }
//    
//    .scroller__item+.scroller__item {
//        margin-left: 18px;
//    }
}

.press {
    padding: 186px 0 66px;
    background: white;
    
    h3 {
        font-size: 54px;
        color: #202020;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 85px;
    }
    
    .wrapper {
        position: relative;
    }
    
    .btns-wrap {
        position: absolute;
        right: -10px;
        top: 20px;
        font-size: 0;
        
        &>div {
            background: url(../img/slide-arrow.svg) center no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
        }
        
        .scroll-back {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .scroll-forward {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
    
    .press__item {
        background: white;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
        box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
        border-radius: 12px;
        display: inline-block;
        vertical-align: top;
        width: 293px;
        cursor: pointer;
        
        @media screen and (min-width: 1024px) {                
            -webkit-transition: -webkit-box-shadow .2s linear;                
            transition: -webkit-box-shadow .2s linear;                
            transition: box-shadow .2s linear;                
            transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
            
            &:hover {
                -webkit-box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
                box-shadow: 0 0 6px 0 rgba(0, 60, 136, 0.08);
            }
        }
        
        .logo-wrap {
            background: #F8FCFF;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 127px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            
            .png {
                transform: scale(0.5);
            }
        }
        
        .text-wrap {
            padding: 27px 30px 42px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            min-height: 199px;
            
            p {
                font-weight: bold;
                font-size: 15px;
                color: #202020;
                letter-spacing: 0.38px;
                line-height: 24px;
            }
            
            .quote {
                height: 22px;
                width: 24px;
                display: block;
                position: relative;
                margin-bottom: 12px;
                margin-left: 4px;
                
                &:before,
                &:after {
                    width: 10px;
                    height: 22px;
                    background: #0077C0;
                    display: block;
                    content: "";
                    position: absolute;
                    border-radius: 5px;
                    -webkit-transform: rotate(30deg);
                    transform: rotate(30deg);
                }
                
                &:before {
                    left: 0;
                }
                
                &:after {
                    left: 15px;
                }
            }
        }
    }
    
    .press__item+.press__item {
        margin-left: 92px;
    }
}

.legal {
    padding: 66px 0 133px;
    background: white;
    
    h3 {
        font-size: 54px;
        color: #202020;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 77px;
    }
    
    .columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        
        .column {
            display: block;
            width: 342px;
            font-size: 15px;
            letter-spacing: 0.38px;
            line-height: 24px;
            
            .label {
                font-weight: bold;
                color: #83949F;
            }
            
            p+.label {
                margin-top: 24px;
            }
            
            a {
                margin-top: 24px;
                display: block;
                font-weight: bold;
                font-size: 14px;
                color: #0077C0;
                letter-spacing: 0.35px;
                line-height: 16px;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 1400px) { 
    .press {
        padding: 137px 0 66px;
    }
    
    .press .press__item + .press__item {
        margin-left: 14px;
    }
    
    .press h3 {
        margin-bottom: 65px;
    }
    
    .legal {
        padding-top: 56px;
    }
    
    .legal .columns .column {
        width: 272px;
    }
    
    .partners .scroller__item {
        width: 215px;
    }
    
    .partners .scroller__item + .scroller__item {
        margin-left: 18px !important;
    }
    
    .partners .scroller__item:nth-child(4n+5) {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1024px) {
    .press {
        padding: 90px 0 55px;
        
        .press__item {
            margin-right: 14px;
            margin-left: 0 !important;
            margin-top: 14px;
        }
        
        h3 {
            margin-bottom: 50px;
        }
    }
    
    .legal {
        padding-top: 45px;
        padding-bottom: 60px;
        
        .columns {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    
    .legal .columns .column {
        width: 312px;
        margin-bottom: 60px;
    }
    
    .partners .scroller__item {
        width: 201px;
    }
    
    .partners .scroller__item + .scroller__item {
        margin-left: 18px !important;
    }
    
    .partners .scroller__item:nth-child(3n+4) {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .press {
        padding: 80px 19px 60px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 47px;
        }
        
        .press__item {
            width: 280px;
            margin-top: 0;
            margin-bottom: 19px;
            
            .logo-wrap {
                height: 100px;
            }
            
            .text-wrap {
                padding: 27px 18px 42px;
            }
        }
        
        .btns-wrap {
            top: auto;
            bottom: -40px;
            left: 0px;
            right: auto;
        }
    }
    
    .partners {
        padding: 80px 19px 10px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 47px;
        }
        
        .scroller__item:first-of-type {
            margin-left: 19px;
        }
        
        .scroller__item:last-of-type {
            margin-right: 19px;
        }
        
        .btns-wrap {
            display: block;
            top: auto;
            bottom: -40px;
            left: 0px;
            right: auto;
        }
    }
    
    .partners .scroller__item + .scroller__item {
        margin-left: 19px !important;
    }
    
    .partners .scroller {
        margin-bottom: 80px;
        padding-top: 10px;
        width: 100vw;
        margin-left: calc((-100vw + 100%) / 2);
    }
    
    .legal {
        padding: 0 19px 60px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 47px;
        }
        
        .columns {
            display: block;
            
            .column {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            
            .column+.column {
                margin-top: 40px;
            }
        }
    }
}

//@media screen and (min-width: 1024px) {
//    .legal {
//        h3 {
//            -webkit-transition: opacity .2s linear .3s, .3s transform .3s;
//            transition: opacity .2s linear .3s, .3s transform .3s;
//        }
//        
//        .column {
//            -webkit-transition: opacity .2s linear .5s, .3s transform .5s;
//            transition: opacity .2s linear .5s, .3s transform .5s;
//        }
//        
//        &.hidden {
//            h3, column {
//                opacity: 0;
//                -webkit-transform: translateY(10px);
//                transform: translateY(10px);
//            }
//        }
//    }
//}