.product {
    background: #F8FCFF;
    color: #202020;
    padding: 146px 0;
    
    h3 {
        font-size: 54px;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 21px;
        text-align: center;
    }
    
    h4 {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 65px;
    }
    
    &__visual {
        margin-top: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 1216px;
        margin-left: calc((100% - 1216px) / 2); 
        
        .text-wrap {
            display: inline-block;
            vertical-align: middle;
            width: 292px;
            position: relative;
            margin-top: 135px;
            
            .line {
                width: 50px;
                height: 2px;
                position: absolute;
                background: #E0EDF4;
                display: block;
                top: 12px;
            }
            
            .circle {
                width: 14px;
                height: 14px;
                display: block;
                position: absolute;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border: 2px solid #E0EDF4;
                border-radius: 100%;
                top: 6px;
                
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background: #F05527;
                    content: "";
                    display: block;
                    border-radius: 100%;
                    width: 6px;
                    height: 6px;
                }
            }
            
            h5 {
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.5px;
                line-height: 30px;
                margin-bottom: 18px;
            }
            
            p {
                font-size: 15px;
                letter-spacing: 0.38px;
                line-height: 24px;
                
                span {
                    display: block;
                    position: relative;
                    
                    img {
                        display: inline-block;
                        margin-right: 5px;
                    }
                    
                    &:after {
                        display: block;
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        content: "";
                        border-radius: 100%;
                        background: #D1DFE6;
                    }
                }
            }
            
            &:first-child {
                text-align: right;
                
                p span:after {
                    left: 100%;
                    top: 9px;
                    margin-left: 24px;
                }
                
                .circle {
                    left: 100%;
                    margin-left: 20px;
                }
                
                .line {
                    left: 100%;
                    margin-left: 45px;
                }
            }
            
            &:last-child {
                .circle {
                    right: 100%;
                    margin-right: 20px;
                    
                    &:after {
                        background: #0077C0;
                    }
                }
                
                p span:after {
                    right: 100%;
                    top: 9px;
                    margin-right: 24px;
                }
                
                .line {
                    right: 100%;
                    margin-right: 45px;
                }
            }
        }
    }
    
    .visual {
        display: block;
        position: relative;
        height: 295px;
        width: 380px;
        margin: 0 126px;
        
        span {
            position: absolute;
            display: block;
        }
        
        .part-one {
            background: #F05527;
            background-image: linear-gradient(-135deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.20) 100%);
            -webkit-box-shadow: 0 0 10px 0 rgba(0,46,103,0.33);
            box-shadow: 0 0 10px 0 rgba(0,46,103,0.33);
            width: 120px;
            height: 120px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
            bottom: 0;
            left: 26px;
            margin: auto;
        }
        
        .part-two {
            background: #0077C0;
            background-image: linear-gradient(-135deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.20) 100%);
            -webkit-box-shadow: 0 0 10px 0 rgba(0,46,103,0.33);
            box-shadow: 0 0 10px 0 rgba(0,46,103,0.33);
            width: 210px;
            height: 210px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
            bottom: 0;
            right: 44px;
            margin: auto;
        }
    }
    
    &__list {
        margin-top: 126px;
        border-top: 2px solid #E8F0F3;
        padding-top: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        
        &__item {
            display: inline-block;
            vertical-align: top;
            width: 292px;
            margin-top: 75px;
            
            &:before {
                display: block;
                margin: 0 auto 30px;
                background: #0077C0;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.00)), to(rgba(255,255,255,0.20)));
                background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.20) 100%);
                width: 42px;
                height: 42px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                content: "";
                pointer-events: none;
            }
            
            h5 {
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.5px;
                line-height: 30px;
                margin-bottom: 18px;
            }
            
            p {
                font-size: 15px;
                letter-spacing: 0.38px;
                line-height: 24px;
            }
        }
    }
}

@media screen and (max-width: 1400px) { 
    .product {
        padding: 156px 0;
        
        h4 {
            margin-bottom: 99px;
        }
        
        &__visual .text-wrap {
            margin-top: 101px;
        }
        
        &__list__item {
            width: 33%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 20px;
        }
        
        .visual {
            width: 292px;
            height: 228px;
            margin: 0 116px;
            
            .part-one {
                width: 90px;
                height: 90px;
                left: 20px;    
            }
            
            .part-two {
                width: 160px;
                height: 160px;
                right: 34px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .product {
        padding: 80px 0 90px;
        
        h3 {
            margin-bottom: 15px;
        }
        
        h4 {
            margin-bottom: 67px;
        }
        
        &__visual {
            width: 747px;
            margin-left: calc((100% - 747px) / 2);
            
            .text-wrap {
                margin: -8px 0 0;
                
                .line {
                    top: 67px;
                    width: 29px;
                }
                
                .circle {
                    top: 61px;
                }
            }
        }
        
        .visual {
            width: 154px;
            height: 120px;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin: 0 75px;
        }
        
        .visual .part-one {
            width: 45px;
            height: 45px;
            left: 6px;
        }
        
        .visual .part-two {
            width: 90px;
            height: 90px;
            right: 18px;
        }
        
        &__list {
            margin-top: 94px;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: 747px;
            margin-left: -54px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 25px 54px 0;
            
            &__item {
                width: 233px;
                padding: 0;
            }
        }
    }
    
    .product__visual .text-wrap:last-child .circle {
        margin-right: 10px;
    }
    
    .product__visual .text-wrap:last-child .line {
        margin-right: 33px;
    }
    
    .product__visual .text-wrap:first-child .circle {
        margin-left: 10px;
    }
    
    .product__visual .text-wrap:first-child .line {
        margin-left: 33px;
    }
    
    .product__visual .text-wrap:first-child {
        p span:after {
            margin-left: 14px;
        }
        
        h5 {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 40%;
        }
    }
    
    .product__visual .text-wrap:last-child {
        p span:after {
            margin-right: 14px;
        }
        
        h5 {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-right: 40%;
        }
    }
}

@media screen and (max-width: 767px) {
    .product {
        padding: 80px 19px;
        
        .wrapper {
            width: 100%;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 18px;
        }
        
        h4 {
            margin-bottom: 47px;
        }
        
        .visual {
            width: 280px;
            height: 228px;
            margin: 36px auto 70px;
            
            .part-two {
                width: 160px;
                height: 160px;
                right: 33px;
            }
            
            .part-one {
                width: 82px;
                height: 82px;
                left: 16px;
            }
        }
        
        &__visual {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 0 auto;
            height: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            
            .text-wrap {
                width: 280px;
                text-align: center !important;
                margin: 0 auto;
                
                h5 {
                    padding: 0 !important;
                }
                
                p span:after {
                    display: none;
                }
            }
        }
    }
    
    .product__visual .text-wrap:first-child .line {
        margin-left: 0;
        left: 55px;
        top: 100%;
        margin-top: 40px;
        width: 2px;
        height: 40px;
    }
    
    .product__visual .text-wrap:first-child .circle {
        left: 49px;
        margin-left: 0;
        top: 100%;
        margin-top: 26px;
    }
    
    .product__visual .text-wrap:last-child .circle {
        margin-right: 0;
        right: 106px;
        bottom: 100%;
        top: auto;
        margin-bottom: 20px;
    }
    
    .product__visual .text-wrap:last-child .line {
        width: 2px;
        height: 30px;
        top: auto;
        margin-right: 0;
        right: 112px;
        bottom: 100%;
        margin-bottom: 34px;
    }
    
    .product__list {
        width: 100%;
        padding: 46px 0 0;
        margin: 70px auto 0;
    }
    
    .product__list__item {
        display: block;
        width: 282px;
        margin: 34px auto 0;
        
        h5 {
            margin-bottom: 10px;
        }
    }
}