.ecosystem {
    padding: 166px 0 186px;
    color: #202020;
    text-align: center;
    background: white;
    
    h3 {
        font-size: 54px;
        letter-spacing: 1.23px;
        line-height: 65px;
        margin-bottom: 70px;
    }
    
    .system {
        position: relative;
        width: 770px;
        height: 674px;
        margin: 0 auto;
        
        .core {
            width: 174px;
            height: 174px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#003784), color-stop(77%, #0077C0), to(#12A9D1));
            background-image: linear-gradient(-180deg, #003784 0%, #0077C0 77%, #12A9D1 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 94px;
            margin: auto;
            border-radius: 100%;
            
            &:after {
                border: 2px solid #0056A1;
                width: 186px;
                height: 186px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 100%;
                display: block;
                content: "";
                position: absolute;
                top: -6px;
                left: -6px;
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-width: 80%;
            }
        }
        
        &__items {
            .item {
                width: 154px;
                height: 154px;
                position: absolute;
                cursor: pointer;
                
                &:hover {
                    .text-wrap {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 1;
                    }
                    
                    .logo-wrap {
                        border-color: transparent;
                    }
                }
                
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    background: #E8F0F3;
                    width: 120px;
                    height: 2px;
                }
                
                &:nth-child(1) {
                    top: 0;
                    left: 90px;
                    
                    &:after {
                        top: 100%;
                        left: 100%;
                        margin-left: -24px;
                        margin-top: -24px;
                        -webkit-transform-origin: left center;
                        transform-origin: left center;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                
                &:nth-child(7) {
                    top: 0;
                    right: 90px;
                    
                    &:after {
                        top: 100%;
                        right: 100%;
                        margin-right: -24px;
                        margin-top: -24px;
                        -webkit-transform-origin: right center;
                        transform-origin: right center;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
                
                &:nth-child(2) {
                    top: 213px;
                    left: 0px;
                    
                    &:after {
                        top: 50%;
                        left: 100%;
                    }
                }
                
                &:nth-child(6) {
                    top: 213px;
                    right: 0px;
                    
                    &:after {
                        top: 50%;
                        right: 100%;
                    }
                }
                
                &:nth-child(3) {
                    top: 420px;
                    left: 90px;
                    
                    &:after {
                        bottom: 100%;
                        left: 100%;
                        margin-left: -24px;
                        margin-bottom: -24px;
                        -webkit-transform-origin: left center;
                        transform-origin: left center;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
                
                &:nth-child(5) {
                    top: 420px;
                    right: 90px;
                    
                    &:after {
                        bottom: 100%;
                        right: 100%;
                        margin-right: -24px;
                        margin-bottom: -24px;
                        -webkit-transform-origin: right center;
                        transform-origin: right center;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                
                &:nth-child(4) {
                    top: 519px;
                    right: 0px;
                    left: 0;
                    margin: auto;
                    
                    &:after {
                        bottom: 100%;
                        left: 50%;
                        width: 2px;
                        height: 120px;
                    }
                }
                
                .logo-wrap {
                    width: 154px;
                    height: 154px;
                    border: 2px solid #E8F0F3;
                    position: absolute;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 100%;
                    -webkit-transition: .2s linear;
                    transition: .2s linear;
                    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                
                .text-wrap {
                    background: #FFFFFF;
                    -webkit-box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
                    box-shadow: 0 0 20px 0 rgba(0,60,136,0.08);
                    width: 194px;
                    height: 194px;
                    border-radius: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: absolute;
                    left: -21px;
                    top: -21px;
                    -webkit-transition: .2s linear;
                    transition: .2s linear;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    -webkit-transform: scale(0.7);
                    transform: scale(0.7);
                    opacity: 0;
                    z-index: 9;
                    
                    span {
                        padding-top: 8px;
                        font-weight: bold;
                        font-size: 15px;
                        letter-spacing: 0.38px;
                        line-height: 24px;
                        display: inline-block;
                        width: 154px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {  
    .ecosystem {
        padding: 156px 0;
    }
}

@media screen and (max-width: 1024px) {
    .ecosystem {
        padding: 90px 0 50px;
        
        .wrapper {
            width: 768px;
        }
        
        h3 {
            width: 90%;
            margin: 0 auto 70px;
        }
        
        .system__items {
            .item {
                &:nth-child(1) {
                    top: 20px;
                    left: 110px;
                    
                    &:after {
                        width: 90px;
                    }
                }
                
                &:nth-child(7) {
                    top: 20px;
                    right: 110px;
                    
                    &:after {
                        width: 90px;
                    }
                }
                
                &:nth-child(2) {
                    top: 213px;
                    left: 40px;
                    
                    &:after {
                        width: 80px;
                    }
                }
                
                &:nth-child(6) {
                    top: 213px;
                    right: 40px;
                    
                    &:after {
                       width: 80px;
                    }
                }
                
                &:nth-child(3) {
                    top: 400px;
                    left: 110px;
                    
                    &:after {
                        width: 90px;
                    }
                }
                
                &:nth-child(5) {
                    top: 400px;
                    right: 110px;
                    
                    &:after {
                        width: 90px;
                    }
                }
                
                &:nth-child(4) {
                    top: 479px;
                    right: 0px;
                    left: 0;
                    margin: auto;
                    
                    &:after {
                        height: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    
    .ecosystem {
        padding: 80px 19px;
        
        .wrapper {
            width: 100%;
            height: auto;
        }
        
        h3 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            width: 100%;
            margin-bottom: 45px;
        }
        
        .system {
            -webkit-transform-origin: top center;
            transform-origin: top center;
            -webkit-transform: scale(0.47);
            transform: scale(0.47);
            margin-left: calc((100% - 770px) / 2);
            margin-bottom: -367px;
        }
    }
    
    .ecosystem .system__items .item:nth-child(2) {
        left: 60px;
    }
    
    .ecosystem .system__items .item:nth-child(6) {
        right: 60px;
    }
}