.video {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 814px;
    
    .background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/intro.png) center no-repeat;
        background-size: cover;
        display: none;
    }
    
    .wrapper {
        position: relative;
        z-index: 2;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    
    .socials {
        margin: 70px auto 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        
        a {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
        }
    }
    
    .dl-links+.socials {
        margin: 0;
    }
    
    .dl-links {
        text-align: center;
        margin: 40px auto;
        
        a {
            display: inline-block;
            vertical-align: baseline;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0.35px;
            line-height: 16px;
            text-decoration: underline;
            margin: 0 15px;
        }
    }
}

.subscribe {
    text-align: center;
    margin-top: 80px;
    
    h2 {
        font-size: 44px;
        letter-spacing: 1px;
        line-height: 53px;
        color: #FFFFFF;
        max-width: 70%;
        margin: 0 auto 19px;
    }
    
    p {
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.45px;
        line-height: 30px;
        max-width: 66%;
        margin: 0 auto;
    }
    
    &__links {
        margin-top: 35px;
        
        a {
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 1px;
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            background-color: #F66D3E;
            border-radius: 6px;
            background-image: -webkit-gradient(linear, left top, right top, from(#F66D3E), to(#F05527));
            background-image: linear-gradient(90deg, #F66D3E 0%, #F05527 100%);
            border-radius: 8px;
            padding: 12px 15px 9px;
            
            
            img {
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                margin-bottom: 2px;
            }
        }
        
        a+a {
            margin-left: 20px;
        }
    }
    
    &__timer {
        margin-top: 42px;
        color: white;
    }
    
    form {
        width: 528px;
        margin: 37px auto 0;
        display: block;
        font-size: 0;
        
        .input-wrap,
        button {
            display: inline-block;
            vertical-align: top;
            height: 62px;
        }
        
        .input-wrap {
            width: 340px;
            overflow: hidden;
            border-radius: 6px 0 0 6px;
            position: relative;
            
            p {
                font-weight: bold;
                font-size: 12px;
                color: #F62727;
                letter-spacing: 0.3px;
                line-height: 24px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 20px;
                text-align: left;
                pointer-events: none;
                opacity: 0;
                -webkit-transition: opacity .2s linear;
                transition: opacity .2s linear;
            }
            
            &.error {
                p {
                    opacity: 1;
                }
            }
            
            input {
                display: block;
                width: 100%;
                height: 100%;
                -webkit-appearance: none;
                border: none;
                background: white;
                border-radius: 6px 0 0 6px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 20px;
                font-size: 14px;
                font-weight: bold;
                font-size: 18px;
                color: #202020;
                letter-spacing: 0.45px;
            }
        }
        
        button {    
            -webkit-appearance: none;
            width: 188px;
            text-align: center;
            border: none;
            border-radius: 0 6px 6px 0;
            background: -webkit-gradient(linear, left top, right top, from(#F66D3E), to(#F05527));
            background: linear-gradient(90deg, #F66D3E 0%, #F05527 100%);
            color: white;
            font-family: 'Rotonda', sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            
            @media screen and (min-width: 1024px) {
                -webkit-transition: background .2s linear;
                transition: background .2s linear;
                
                &:hover {
                    background: -webkit-gradient(linear, left top, right top, from(#F05527), to(#F05527));
                    background: linear-gradient(90deg, #F05527 0%, #F05527 100%);
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .video .socials {
        width: 124%;
        margin-left: -12%;
    }
}

.timer {
    text-align: center;
    
    h4 {
        font-size: 15px;
        letter-spacing: 0.38px;
        line-height: 29px;
        margin-bottom: 18px;
        font-weight: normal;
    }
    
    &__inner {
        .digit {
            display: inline-block;
            vertical-align: top;
            position: relative;
            min-width: 60px;
            text-align: center;
            
            span {
                display: block;
                font-weight: bold;
                
                &:first-child {
                    font-size: 41px;
                    letter-spacing: 0.93px;
                    line-height: 32px;
                }
                
                &:nth-child(2) {
                    font-size: 12px;
                    opacity: 0.7;
                    letter-spacing: 0.3px;
                    line-height: 28px;
                }
            }
        }
        
        .digit + .digit {
            margin-left: 20px;
            
            &:after {
                font-weight: bold;
                font-size: 41px;
                line-height: 22px;
                content: ":";
                position: absolute;
                right: 100%;
                top: 0;
                width: 22px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .video {
        min-height: 800px;
        
        h2, p {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) { 
    .video {
        .subscribe {
            margin-top: 30px;
        }
        
        .wrapper {
            width: 720px;
        }
        
        h2 {
            max-width: 100%;
        }
        
        p {
            max-width: 90%;
        }
        
        .socials {
            margin-bottom: -20px;
        }

        .socials a {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .video {
        height: auto;
        padding: 120px 0 40px;
        
        .socials {
            flex-wrap: wrap;
            justify-content: center;
            
            a {
                margin: 0 20px 30px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .video {
        height: auto;
        padding: 90px 20px 75px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 600px;
        
        .wrapper {
            width: 100%;
        }
    }
    
    .subscribe {
        display: block;
        width: 100%;
        
        h2 {
            font-size: 36px;
            letter-spacing: 0.82px;
            line-height: 39px;
            margin-bottom: 19px;
        }
        
        p {
            font-size: 18px;
            letter-spacing: 0.45px;
            line-height: 30px;
            margin-bottom: 37px;
        }
        
        &__links a + a {
            margin-left: 20px;
        }
        
        &__timer {
            margin-top: 40px;
        }
        
        form {
            display: block;
            width: 280px;
            margin: 32px auto 0;
            
            .input-wrap {
                display: block;
                width: 100%;
                background: none;
                border-radius: 0;
                
                input {
                    border-radius: 6px 6px 0 0;
                }
            }
            
            button {
                display: block;
                width: 100%;
                border-radius: 0 0 6px 6px;
            }
        }
    }
    
    .timer__inner .digit {
        min-width: 50px;
    }
    
    .video .dl-links {
        display: none;
    }
    
    .video .dl-links + .socials {
        margin-top: 40px;
    }
    
    .subscribe__links a {
        display: block;
        max-width: 280px;
        margin: 0 auto !important;
    }
    
    .subscribe__links a+a {
        margin-top: 20px !important;
    }
    
    .video .socials {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        
        a {
            transform: none;
            margin: 0 20px 20px;
        }
    }
}